<div class="model-manager">
  <h3>Model Manager</h3>

  <div class="ui action input">
    <input ng-model="obj.searchArticles" type="text" placeholder="Search...">
    <button class="ui button">Search</button>
  </div>

  <div class="ui divider"></div>

  <div class="ui cards">
    <div class="card" ng-repeat="m in obj.articles | filter:obj.searchArticles">
      <div class="content">
        <div class="header">{{m.code}}</div>
        <div class="meta">Container: {{m.pz_container}}</div>
        <div class="description">
          <p>{{m.description}}</p>
          <div class="ui action input adjust-input">
            <input ng-model="m.amount" type="text" placeholder="Insert value...">
            <button ng-click="setParam(m.code, m.amount)" class="ui button">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="machine-state">
  <h3>Machine State</h3>

  <table class="ui fixed single line celled table">
    <thead>
      <tr>
        <th>Description</th>
        <th class="adjust-col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in obj.params">
        <td>{{p.description}}</td>
        <td class="{{ obj.currentParams[p.code] == 'true' ? 'green-OK' : (obj.currentParams[p.code] == 'false' ? 'red-KO' : obj.currentParams[p.code]) }}">
          {{ obj.currentParams[p.code] == "true" ? "ON" : (obj.currentParams[p.code] == "false" ? "OFF" : obj.currentParams[p.code]) }}
        </td>
      </tr>
    </tbody>
  </table>

</div>
